<div class="wrapper blue-bg solutions">
    <div class="header-controls-people" style="position:absolute; top: 20px; left:0px;width: 100%;">
        <div class="row">
            <div class="col s4">
                <div class="row" style="padding-top: 40px;">
                    <a [href]="solution.behance" target="_blank"><span class="icon-powered"></span></a>
                </div>
            </div>
            <div class="col s1 m1 offset-s5 offset-m7 scroll-container">
                <a [routerLink]="currentMainPage" class="scroll-btn" style="border:none;"><span class="material-icons" style="padding-top:5px;font-size:1em;">clear</span></a>
            </div>
        </div>
    </div>
    <div class="fullpage" [ngStyle]="{'width' : fullPageWidth,transform : translateValue, transition : transitionValue, 'background-color': solution.bg_color}">
        <div class="slide" *ngFor="let page of solution.list" [ngStyle]="{width : slideWidth}" (swipe)="swipeSlide($event)">
            <div class="content valign-wrapper">
                <div class="left-align color-white inner-content ethos valign-wrapper solution-detail-container">
                    <div class="row" style="padding-top: 0px;width: 100%;">
                        <div class="col s12 m12 l6 chart-container center-align">
                            <chart [type]="page.graph_type" [data]="page.chart_data" [options]="{responsive: true, maintainAspectRatio: true}" *ngIf="page.graph_type != 'image'" style="width:100%;"></chart>
                            <div class="image-container" *ngIf="page.graph_type == 'image'">
                                <img [src]="'/admin/' + page.chart_data" style="max-width:100%;" class="solution-image" >
                            </div>
                        </div>

                        <div class="col s12 m12 l6">
                            <h1 class="left-align person-name">{{ solution.title }}</h1>
                            <h2>{{ page.page_name }}</h2>
                            <p innerHtml="{{ page.description }}" class="people-description"></p>
                            <div  class="show-on-small-only hide-on-med-and-up center-align button-holder valign-wrapper col s6 offset-s6">
                                <a class="scroll-btn" [routerLink]="nextSolutionLink" style="font-size: 1em;position:relative;left:-50px;" *ngIf="nextSolutionId > 0">Next Solution</a>
                                <a class="scroll-btn" [routerLink]="solutionParent" style="font-size: 1em;position:relative;left:-50px;" *ngIf="nextSolutionId == 0">Go to Solutions</a>
                                <div class="slider-controls valign-wrapper" style="position:relative;">
                                    <div class="prev">
                                        <button type="button" (click)="slideNum(prevSlide)" style="padding: 0px; width: auto;height:auto;"><span class="material-icons" [ngStyle]="{ 'color': leftColor }">keyboard_arrow_left</span></button>
                                    </div>
                                    <div class="pages" style="width:50px;">
                                        <span class="pages">{{ selectedSlide }} / {{ pageNumber }}</span>
                                    </div>
                                    <div class="next">
                                        <button type="button" (click)="slideNum(nextSlide)" style="padding: 0px; width: auto;height:auto;"><span class="material-icons" [ngStyle]="{ 'color': rightColor }">keyboard_arrow_right</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-controls row show-on-med-and-up hide-on-small-only">
    <div [ngClass]="{ row : true, 'valign-wrapper' : selectedSlide == pageNumber }">
        <div class="col s6 center-align offset-s6 valign-wrapper">
            <a class="scroll-btn" [routerLink]="nextSolutionLink" style="font-size: 1em;position:relative;left:-45px;" *ngIf="nextSolutionId > 0">Next Solution</a>
            <a class="scroll-btn" [routerLink]="solutionParent" style="font-size: 1em;position:relative;left:-45px;" *ngIf="nextSolutionId == 0">Go to Solutions</a>
            <div class="slider-controls">
                <div class="prev">
                    <button type="button" (click)="slideNum(prevSlide)"><span class="material-icons" [ngStyle]="{ 'color': leftColor }">keyboard_arrow_left</span></button>
                </div>
                <div class="pages">
                    <span class="pages">{{ selectedSlide }} / {{ pageNumber }}</span>
                </div>
                <div class="next">
                    <button type="button" (click)="slideNum(nextSlide)"><span class="material-icons" [ngStyle]="{ 'color': rightColor }">keyboard_arrow_right</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
