<div class="wrapper">
    <div class="bg" style="background-image:url('/assets/images/careers.png');"></div>
    <div class="content">
        <div class="left-align color-white inner-content ethos">
            <div class="row contact-us">
                <div class="col s12 m5">
                    <h1 class="left-align">We Need You</h1>
                    <p>
                        If you think you have the skills to help us in what we believe please send your resume at <b>hr@auspex.com.ph</b>
                    </p>
                </div>
                <div class="col s12 m7">
                    <div class="career-listing" *ngFor="let career of careers">
                        <div class="col s6 m6">
                            <img [src]="career.thumb" style="max-width: 100%;">
                            <div class="title">
                                {{ career.title }}
                                <p class="truncate" [innerHtml]="career.content"></p>
                                <a [routerLink]="career.permalink">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-site">
    <div class="row">
        <div class="col s12 m3 center-align">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 441.751 113.605" style="width:150px;display:inline-block;vertical-align:middle;margin-top:-10px;">
                <defs>
                    <style>.cls-1{fill:#1b75bb;}.cls-2{fill:#929497;}.cls-3{fill:#25a9e0;}</style>
                </defs>
                <path class="cls-1" d="M185.623,83.432H168.145l-2.464,6.745h-9.15l15.134-39.123H182.1l15.074,39.123h-9.092Zm-15.25-7.215h12.963l-6.452-17.948Z"/>
                <path class="cls-1" d="M210.616,51.054h8.446V74.281c0,5.455,2.992,9.209,9.092,9.209,5.982,0,8.974-3.754,8.974-9.209V51.054h8.446V74.516c0,9.736-5.572,16.365-17.42,16.365-11.966,0-17.538-6.687-17.538-16.306Z"/>
                <path class="cls-1" d="M266.929,78.329a17.154,17.154,0,0,0,12.435,5.279c4.575,0,6.8-2.17,6.8-4.4,0-2.933-3.4-3.93-7.919-4.986-6.394-1.466-14.6-3.226-14.6-11.966,0-6.51,5.631-11.79,14.839-11.79,6.218,0,11.38,1.877,15.251,5.455l-4.634,6.1a16.692,16.692,0,0,0-11.2-4.282c-3.754,0-5.748,1.642-5.748,3.988,0,2.64,3.284,3.461,7.8,4.517,6.452,1.466,14.664,3.4,14.664,12.083,0,7.156-5.1,12.552-15.661,12.552-7.508,0-12.9-2.522-16.6-6.218Z"/>
                <path class="cls-1" d="M311.981,51.054h18.3c8.5,0,13.139,5.748,13.139,12.611,0,6.8-4.692,12.493-13.139,12.493H320.31V90.177h-8.329Zm17.186,7.156H320.31V69h8.856c3.285,0,5.749-2.112,5.749-5.4C334.915,60.38,332.451,58.21,329.166,58.21Z"/><path class="cls-1" d="M360.317,51.054H388V58.21H368.646v8.5h18.945v7.156H368.646v9.092H388v7.214H360.317Z"/>
                <path class="cls-1" d="M421.966,75.865l-9.854,14.312H402.2l14.194-20.06L403.079,51.054h9.912l8.975,13.373,8.856-13.373h10.03l-13.314,19,14.194,20.119h-9.972Z"/>
                <rect class="cls-2" x="82.334" y="109.962" width="36.131" height="3.642"/>
                <path class="cls-3" d="M.014,113.6H31.138C25.666,106.469,32.468,27.362,202.9.02,202.9.02,23.688,6.327.014,113.6Z"/>
                <path class="cls-3" d="M42.985,78.765S66.09,90.287,67.415,113.6l20.86-34.839Z"/>
                <rect class="cls-2" x="82.334" y="43.165" width="36.131" height="3.642"/>
                <rect class="cls-3" x="42.985" y="75.818" width="45.286" height="1.821"/>
                <path class="cls-2" d="M111.264,56.556c.3-2.128,1.7-4.989,7.2-4.989V47.939H82.334v3.628c4.962,0,6.585,2.95,7.077,4.989v43.652c-.492,1.994-2.115,4.978-7.077,4.978v3.648h36.131v-3.643c-5.505,0-6.9-2.9-7.2-4.983Z"/>
            </svg>
            <ul class="social-media-container">
                <li><a href="http://facebook.com" target="_blank"><span class="icon-facebook"></span></a></li>
                <li><a href="http://twitter.com" target="_blank"><span class="icon-twitter"></span></a></li>
                <li><a href="http://instagram.com" target="_blank"><span class="icon-instagram"></span></a></li>
            </ul>
            <span class="copy-right">Copyright Auspex Corporation 2017</span>
        </div>
        <div class="col s12 m5 site-map">
            <div class="row">
                <div class="col s6 m3">
                    <h5>Our People</h5>
                    <ul>
                        <li><a routerLink="/ethos">Ethos</a></li>
                        <li><a routerLink="/global-presence">Global Presence</a></li>
                        <li><a routerLink="/our-people">Our People</a></li>
                    </ul>
                </div>
                <div class="col s6 m3">
                    <h5>Solutions</h5>
                    <ul>
                        <li><a routerLink="/solutions/web">Web</a></li>
                        <li><a routerLink="/solutions/mobile">Mobile</a></li>
                        <li><a routerLink="/solutions/others">Others</a></li>
                    </ul>
                </div>
                <div class="col s6 m3">
                    <h5>What's New</h5>
                    <ul>
                        <li><a routerLink="/news">Recent</a></li>
                        <li><a routerLink="/archives">Archives</a></li>
                    </ul>
                </div>
                <div class="col s6 m3">
                    <h5>Contact Us</h5>
                    <ul>
                        <li><a routerLink="/partners">Investor</a></li>
                        <li><a routerLink="/contact-us">Client</a></li>
                        <li><a routerLink="/careers">You</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m4 contacts">
            <div class="row">
                <div class="col s6">
                    <span class="icon-landline"></span>
                    <span class="foot-content">+63 2 810 2779</span>
                </div>
                <div class="col s6">
                    <span class="icon-cellphone"></span>
                    <span class="foot-content">+63 2 810 2782</span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <span class="icon-email"></span>
                    <span class="foot-content">info@auspex.com.ph</span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <span class="icon-address"></span>
                    <span class="foot-content">Unit 303 Bldg B The Plaza Northgate<br/>Cyberzone Alabang Muntinlupa Philippines</span>
                </div>
            </div>
        </div>
    </div>
</div>
