<div class="wrapper valign-wrapper">
    <div class="bg" [ngStyle]="{'background-image': 'url(/assets/images/partners.png)'}"></div>
    <div class="content valign-wrapper">
        <div class="left-align color-white inner-content ethos">
            <div class="row">
                <h2>Partners</h2>
                <div class="col s6 m9">
                    <p [innerHtml]="partner.description"></p>
                </div>
                <div class="col s6 m3 partner-container">
                    <div class="partner-inner active">
                        <span [ngClass]="partner.logo"></span>
                        <span class="partner-name">{{ partner.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-controls row " *ngIf="selectedSlide == pageNumber">
    <div class="col s12 center-align">
        <button [ngClass]="{'scroll-btn' : true}" (click)="scrollClick()" style="margin-left: 215px;"><span class="icon-scroll-down"></span></button>
        <a [routerLink]="nextPartnerLink" class="next-member" (click)="backToTop()" >Next Partner <span class="material-icons" [ngStyle]="{ 'color': rightColor }">keyboard_arrow_right</span></a>
    </div>
</div>
