<div class="footer-controls row">
    <div class="col s12 center-align">
        <button [ngClass]="{'white-bg' : nav.pageTitle == 'Solutions', 'scroll-btn' : true}" (click)="scrollClick()"><span class="icon-scroll-down"></span></button>
    </div>
</div>
