<div class="wrapper valign-wrapper landing">
    <div [@animateLoad]="">
        <div class="bg" [ngStyle]="{'background-image': 'url(/assets/images/landing.jpg)'}"></div>
        <div class="content valign-wrapper">
            <div class="center-align row color-white margin-top-2">
                <div class="col s12">
                    <h1><span class="icon-hero-logo-invert2 col s12 m6 right-align"></span><span class="light col s12 m6 left-align landing-tag">See The Future</span></h1>
                </div>
                <div class="col s12">
                    <a routerLink="/avp" class="play-btn">Play Video</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>
