.contact-form{
    padding-right: 50px;
    input,textarea{
        display:inline-block;
        width: 100%;
        line-height:1.1em;
        border: 1px solid #161616;
        background: #fff;
        color: #25A9E0;
        padding-left: 10px;
        box-sizing: border-box;
        margin-bottom:0px;
    }
    input::placeholder,textarea::placeholder{
        color: #25A9E0;
        opacity: 0.7;
    }
    textarea{
        padding-top:10px;
        height: 200px;
    }
    label{
        color: #fff;
        font-weight: normal;
    }
    input[type="checkbox"]{
        background: #fff;
    }
    p{
        margin-top: 0px;
    }
    button{
        width: 200px;
        float: right;
        height: 65px;
        font-size: 0.5em;
        line-height: 1.5em;
        border: 1px solid #fff;
        background: transparent;
        display: inline-block;
    }
}
.contact-us{
    margin-top: 6em;
    h1{
        margin-top:0px;
    }
}
.footer-site{
    position: fixed;
    bottom:0px;
    width: 100%;
    background-color: #fff;
    height: 200px;
    padding-top: 30px;
    .social-media-container{
        vertical-align: top;
        li{
            display:inline-block;
            font-size: 2em;
            line-height: 2em;
        }
    }
    .copy-right{
        vertical-align: top;
        color:#24B0D1;
        font-size: 0.85em;
    }
    .site-map{
        vertical-align: top;
        .col{
            text-align: left;
        }
        h5{
            font-size:1.25em;
            font-weight: bold;
            color: #24B0d1;
            margin-top: 0px;
        }
        a{
            color: #24B0D1;
        }
    }
    .contacts{
        .row{
            .col{
                position: relative;
                span[class^="icon-"]{
                    font-size: 2em;
                    position: absolute;
                    top: 0px;
                    left: -10px;
                }

            }
        }
        .foot-content{
            font-size: 1.15em;
            color: #24B0D1;
            padding-left: 1em;
            display: inline-block;
            width: 100%;
        }
    }
}
.career-listing{
    .title{
        font-size: 1.2em;
        padding: 10px;
        background: #fff;
        color: #161616;
        margin-top: -6px;
        .truncate{
            font-size: 0.8em;
        }
    }

}
