.play-btn{
    font-size: 1em;
    width: 225px;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    line-height: 70px;
    margin-top: 2em;
}
.play-btn:hover{
    color:#fff;
    background: #25a9e0;
    border: 1px solid #25a9e0;
    opacity: 0.8;
}
