.header{
    position:fixed;
    top: 1.5em;
    z-index: 9999;
    width: 100%;
}
.header button{
    font-size:3em;
    color: #fff !important;
    display: inline-block;
    vertical-align:top;
    background: transparent;
    border: none;
    margin-top: -15px;
}
.header button:hover{
    color:red;
}
.header button.nav-collapse{
    margin-left: 1em;
}
.header h4{
    font-size: 1.5em;
    display: inline-block;
    vertical-align:top;
    margin: 0px;
    color: #fff;
    font-weight: 100;
}

.nav-main{
    background:#fff;
    color:#25A9E0;
    position:fixed;
    left:-315px;
    top:0px;
    z-index: 9999;
    height:100%;
    padding: 0px;
    width: 315px !important;

}
.nav-main *{
    color:#24B0D1;
}
.nav-main h1{
    font-size: 1.5em;
    margin: 0px;
    margin-bottom: 0.5em;
    font-weight: 400;
}
.nav-main li.brand{
    width:100%;
    box-sizing: border-box;
    padding-top: 0.5em;
    padding-bottom:2em;
}
.nav-main li.brand *{
    color:#1B75BB !important;
}
.nav-main > ul > li > ul > li{
    font-size: 1.2em;
}
.nav-main > ul > li:not(.separator){
    padding-left: 2em;
}
.nav-main > ul > li a{
    line-height:1.5em;
    font-size:1em;
}
.nav-main li.separator{
    margin-top: 1em;
    margin-bottom: 1em;
}
.nav-main li.separator .divider{
    background-color: #24B0D1;
    opacity: 0.4;
}
.nav-main li.social-media{
    padding-top: 2em;
    text-align: center;
}
.nav-main .social-media-container{
    text-align:center;
    width: 100%;
    display:inline-block;
}
.nav-main .social-media-container li a{
    float: left;
    font-size: 2em;
}
