.partner-container{
    width: 100%;
    padding: 25px !important;
    .partner-inner{
        width: 100%;
        height: 300px;
        border: 1px solid #fff;
        padding-top: 22%;
        span{
            display: inline-block;
            width :100%;
            text-align: center;
        }
        .fa{
            font-size: 10em !important;
        }
        .partner-name{
            font-size: 1.25em;
            text-transform: capitalize;
            margin-top: 25px;
        }
    }
    .partner-inner:hover, .active{
        color:#25A9E0;
        background: #fff;
        cursor: pointer;
    }
}
