.person-name{
    margin-bottom: 0px;
    font-size: 2.5em;
}
.people-description, .solution-description{
    margin-top:0px;
}
.people-title{
    margin-top:0px;
    text-transform: capitalize;
    font-size: 4em !important;
}
.more-btn{
    padding: 20px;
    background: transparent;
    border: 1px solid #fff;
    width: 250px;
    opacity: 0.8;
    font-size: 1.25em;
    display: inline-block;
    text-align: center;
    color: #fff;
}
.more-btn:hover{
    background: #25A9E0;
    opacity: 0.6;
    border: 1px solid #25A9E0;
}
.solution-description{
    text-align: justify;
}
.solution-image{
    -webkit-box-shadow: -10px 10px 5px 0px rgba(22,22,22,0.63);
    -moz-box-shadow: -10px 10px 5px 0px rgba(22,22,22,0.63);
    box-shadow: -10px 10px 5px 0px rgba(22,22,22,0.63);
}
.people{
    .bg{
        transform: scale(1);
    }
    .people-description{
        font-size: 1em !important;
    }
}
