/* Desktop */
@media only screen and (min-width : 800px) {
    .landing-tag{
        padding-left:30px !important;
        margin-top: 7px !important;
    }
    a.scroll-btn{
        padding-top: 20px;
    }
    .header h4{
        font-size: 1.75em;
    }
    .full{
        display: none;
    }
}

/* Phones Portrait */
@media only screen and (max-width : 480px) and (orientation : portrait){
    html{
        font-size: 9px;
        .full{
            display: none;
        }
    }
    .nav-control{
        top: 3em;
        .collapse{
            .col.s2{
                width: 20% !important;
                button{
                    text-align:left;
                    margin-left: 0px;
                }
            }
        }
    }
    .inner-content{
        padding-right:2em;
    }
    .content.valign-wrapper{
        display: block;
        margin-top: 7em;
        h1{
            font-size: 3em !important;
        }
        p{
            font-size: 1.75em;
        }
    }
    .contact-content {
        h1{
            font-size: 3em !important;
        }
        p{
            font-size: 1.75em;
        }
        .contact-form{
            padding-right:0px;
            input{
                font-size: 12px;
            }
            textarea{
                height: 80px;
                font-size: 12px;
            }
            button{
                width: 100%;
                margin-top: 30px;
                font-size: 12px;
                height: 40px;
            }
        }
    }
    .landing, .home{
        .content.valign-wrapper{
            display: flex;
            margin-top: 0px;
            h1{
                svg{
                    width: 100% !important;
                    padding-left: 30px;
                    padding-right: 30px;
                }
                font-size: 7.5em !important;
                span{
                    text-align: center;
                }
            }

        }
    }

    .contact-footer{
        height: 90px;
        padding-top:25px;
        h1{
            font-size: 3em !important;
        }
        p{
            font-size: 1.5em;
        }
    }
    .scroll-btn{
        width: 70px !important;
        height: 70px !important;
        padding: 17px !important;
    }
    .top-controls{
        padding:15px;
        height: 20%;
        a{
            float: left;
            margin-right: 4.5%;
        }
        a:nth-child(4){
            margin-right: 0;
        }
        a.nav-control-btn{
            font-size:1.2em !important;
            padding: 14px !important;
        }
    }
    .news-detail-component{
        .content{
            top: 25%;
            bottom: 0px;
            width: 100%;
            height: 90%;
        }
    }
    .news-detail-container{
        width: 96% !important;
        top: 0px;
    }
    .landing, .Vision{
        .bg{
            background-position-x: 80%;
        }
    }
    .Mission{
        .bg{
            background-position-x: 50%;
        }
    }
    .Strength{
        .bg{
            background-position-x: 10%;
        }
    }
    .Values{
        .bg{
            background-position-x: 10%;
        }
    }
    .global-presence{
        .bg{
            background-position-x: 60%;
        }
    }
    .contact-content{
        .bg{
            background-position-x: 25%;
        }
    }
    .our-people{
        .bg{
            background-position-x: 65%;
        }
        .ethos{
            p{
                font-size: 1.75em;
            }
        }
    }
    .button-holder{
        button{
            font-size: 1em;
            border: 1px solid #fff;
            color:#fff;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            padding: 20px;
            display: inline-block;
            text-align: center;

            background: transparent;
        }
        button:hover{
            background: #25A9e0;
            opacity: 0.8;
            border-color:#25A9E0;
        }
        .back-to-top-solutions{
            font-size: 1em;
            float: left;
            margin-left: 10px;
            margin-right: 10px;
        }
        .back-to-top{
            font-size:1em;
            float:left;
            margin-left: 35%;
        }
    }
    .our-people{
        .back-to-top{
            margin-left: 40%;
        }
    }
    .solution-detail-container{
        overflow-y: scroll;
        height: 80%;
        top: 7%;
        position: absolute;
        .next-member{
            font-size: 1.5em;
            padding-top: 10px;
            span{
                font-size: 1.5em;
                top: 6px;
                right: 5px;
            }
        }
    }
    .news-component{
        .date-holder{
            margin-bottom: 20px;
            div{
                float: left;
                font-size: 4em;
                margin-right: 3px;
            }
        }
        .news-container {
            margin-top: 30px;
            .col{
                width: 100% !important;
            }
        }
    }
    .archive-container{
        margin-top: 50px;
    }
    .archive-inner{
        height: 85px;
        margin-bottom: 0px;
        .archive-content{
            height: 85%;
            padding-top: 5%;
            .count{
                line-height: 25px;
            }
        }
    }
    .slider-controls{
        .pages{
            padding-top: 3px;
        }
        div {
            span{
                font-size: 1.9em;
            }
            button, a{
                span{
                    font-size: 2.5em;
                }
            }
        }
    }
}

@media only screen and (min-width : 481px) and (max-width : 520px){
    .news-detail-component{
        .content{
            top: 25%;
            bottom: 0px;
            width: 100%;
            height: 90%;
        }
    }
    .news-detail-container{
        width: 96% !important;
        top: 0px;
    }
    .top-controls{
        padding:15px;
        height: 15%;
        a{
            float: left;
            margin-right: 2.5%;
        }
        a:nth-child(4){
            margin-right: 0;
        }
        a.nav-control-btn{
            font-size:1.2em !important;
            padding: 14px !important;
        }
    }
    html{
        font-size: 10px;
        .full{
            display: none;
        }
    }
    .landing, .Vision{
        .bg{
            background-position-x: 80%;
        }
    }
    .Mission{
        .bg{
            background-position-x: 60%;
        }
    }
    .Strength{
        .bg{
            background-position-x: 10%;
        }
    }
    .Values{
        .bg{
            background-position-x: 10%;
        }
    }
    .global-presence{
        .bg{
            background-position-x: 60%;
        }
    }
    .contact-content{
        .bg{
            background-position-x: 25%;
        }
    }
}
@media only screen and (min-width : 521px) and (max-width : 1024px){
    html{
        font-size: 12px;
        .full{
            display: none;
        }
    }
    .thumb-holder{
        height: 250px !important;
    }
    .top-controls{
        padding:15px;
        height: 20%;
        a{
            float: left;
            margin-right: 5%;
            width: 120px !important;
            height: 120px !important;
        }
        a.scroll-btn{
            padding: 30px !important;
            font-size: 4em;
        }
        a:nth-child(4){
            margin-right: 0;
        }
        a.nav-control-btn{
            font-size:1.5em !important;
            padding: 14px !important;
            padding-top: 30px !important;
        }
    }
    .news-detail-component{
        .content{
            top: 25%;
            bottom: 0px;
            width: 100%;
            height: 90%;
        }
    }
    .news-detail-container{
        width: 96% !important;
        top: 0px;
    }
    .news-component{
        .date-holder{
            margin-bottom: 20px;
            div{
                float: left;
                font-size: 4em;
                margin-right: 3px;
            }
        }
        .news-container {
            margin-top: 30px;
            .col{
                width: 100% !important;
            }
        }
    }
    .archive-container{
        margin-top: 70px;
    }
    .archive-inner{
        height: 150px;
        margin-bottom: 0px;
        .archive-content{
            height: 90%;
            padding-top: 10%;
            .count{
                line-height: 35px;
            }
        }
    }
    .nav-control{
        top: 3em;
        .collapse{
            .col.s2{
                width: 20% !important;
                button{
                    text-align:left;
                    margin-left: 0px;
                }
            }
        }
    }
    .landing, .home{
        .content.valign-wrapper{
            display: flex;
            margin-top: 0px;
            h1{
                svg{
                    width: 100% !important;
                    padding-left: 30px;
                    padding-right: 30px;
                }
                font-size: 7.5em !important;
                span{
                    text-align: center;
                }
                span.m6{
                    width: 100%;
                }
            }

        }
    }
    .contact-us{
        div.m6{
            width: 100% !important;
        }
    }
    .footer-site .contacts .foot-content{
        font-size: 1em !important;
    }
    .scroll-btn{
        width: 70px !important;
        height: 70px !important;
        padding: 12px !important;
    }
    .ethos{
        .m5, .m6, .m8{
            width: 80% !important;
        }
    }
    .landing, .Vision{
        .bg{
            background-position-x: 80%;
        }
    }
    .Mission{
        .bg{
            background-position-x: 60%;
        }
    }
    .Strength{
        .bg{
            background-position-x: 10%;
        }
    }
    .Values{
        .bg{
            background-position-x: 50%;
        }
    }
    .global-presence{
        .bg{
            background-position-x: 60%;
        }
    }
    .contact-content{
        .bg{
            background-position-x: 25%;
        }
    }
    .our-people{
        .bg{
            background-position-x: 65%;
        }
        .ethos{
            p{
                font-size: 1.75em;
            }
        }
    }

}
@media screen and (max-width: 853px) and (orientation: landscape){
    .full{
        display: block !important;
    }
}
