.wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #161616;
    z-index: -2;
    .content{
        position: absolute;
        z-index: 999;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;

        h1{
            font-size: 8em;
            span.icon-hero-logo-invert{
                position:relative;
            }
            .light{
                font-size: 0.5em;
                font-weight: 100;
                padding: 0px;
                margin-top: 10px;
            }
        }
    }
}
.white-bg{
    background: #fff;
}
.margin-neg-10{
    margin-top: -10em;
}
.margin-top-2{
    margin-top: 2em;
}
.bg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -4;
    opacity: 0.4;
    transform : scale(1.1);
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
.color-white{
    color: #fff;
}
.footer-controls{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 15%;
    button.scroll-btn, .back-to-top, button.white-bg{
        font-size: 3em;
        border: 1px solid #fff;
        color:#fff;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding: 20px;
        display: inline-block;
        text-align: center;

        background: transparent;
    }
    button.scroll-btn:hover, .back-to-top:hover{
        background: #25A9e0;
        opacity: 0.8;
        border-color:#25A9E0;
    }
    .back-to-top{
        font-size:1em;
        float:left;
        margin-left: 50%;
    }
}
.inner-content{
    width: 100%;
    padding-left: 3em;
}
@import 'slider';
.fullpage{
    position:absolute;
    height:100%;
    background: #161616;
    z-index: -2;
    left: 0;
    .slide{
        float: left;
        height:100%;
        position:relative;
        z-index: 999;
        background-size: cover;
        left: 0;
        .bg{
            position: absolute;
        }
        .content{
            width: 100%;
            height:100%;
            position: relative;
            z-index: 9999;
        }
    }
}
.blue-bg{
    background: rgba(37, 169, 224, 0.8) !important;
}
.light-blue-bg{
    background: rgba(36, 176, 209, 0.8) !important;
}
a.white-bg:hover{
    background: #fff !important;
    color:#25A9E0 !important;
}
a.disabled, a.disabled:hover{
    color: #929497 !important;
    cursor: pointer;
}
