<div class="wrapper" [@routerTransition]="animation" [@animateText]>
    <div class="fullpage" [ngStyle]="{'width' : fullPageWidth, transform : translateValue, transition : transitionValue}">
    <div class="slide {{ content.title }}" *ngFor="let content of ethosContent" [ngStyle]="{width : slideWidth}" (swipe)="swipe($event)">
        <div class="bg" [ngStyle]="{'background-image': 'url('+ content.background +')','transform': 'scale(1)'}"></div>
        <div class="content valign-wrapper">
            <div class="left-align color-white inner-content ethos">
                <div class="row">
                    <div [ngClass]="{ 'col' : true, 's12' : true, 'm5' : content.menu_id == 1, 'm10' : content.menu_id == 2, 'l6' : content.menu_id == 2, 'm8' : content.menu_id == 3, 'm9' : content.menu_id == 4 }">
                        <h1 class="left-align">{{ content.title }}</h1>
                        <p innerHtml="{{ content.content }}" style="font-size: 1em;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<footer></footer>
<div class="slider-controls">
    <div class="prev">
        <button type="button" (click)="slideNum(prevSlide)"><span class="material-icons" [ngStyle]="{ 'color': leftColor }">keyboard_arrow_left</span></button>
    </div>
    <div class="pages">
        <span class="pages">{{ selectedSlide }} / {{ pageNumber }}</span>
    </div>
    <div class="next">
        <button type="button" (click)="slideNum(nextSlide)"><span class="material-icons" [ngStyle]="{ 'color': rightColor }">keyboard_arrow_right</span></button>
    </div>
</div>
