.slider-controls{
    position: fixed;
    right: 0px;
    bottom: 0px;
    right: 2em;
    height: 15%;
    div{
        span{
            font-size: 2.5em;
            color: #fff;
            font-weight: 100;
        }
        button,a{
            span{
                font-size: 3.5em;
                font-weight: 100;
            }
            color: #fff;
            background: transparent;
            border: none;
        }
        button,a.disabled{
            color:#929497;
        }
        float: left;
    }
    div.prev, div.next{
        padding-top: 5px;
    }
}
.next-member{
    color: #fff;
    background: transparent;
    border: none;
    font-size: 2em;
    color: #fff;
    font-weight: 100;
    float: right;
    span{
        font-size: 2em;
        color: #fff;
        font-weight: 100;
        position: relative;
        top: 22px;
        right: 15px;
    }
}
