<div class="wrapper valign-wrapper global-presence">
    <div class="bg" [ngStyle]="{'background-image': 'url('+ background +')'}"></div>
    <div class="content valign-wrapper">
        <div class="left-align color-white inner-content ethos">
            <div class="row">
                <div class="col s12 m8">
                    <h1 class="left-align">Global Presence</h1>
                    <p innerHtml="{{ globalContent }}" style="font-size: 1em;"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>
