<div class="wrapper valign-wrapper">
    <div class="bg" [ngStyle]="{'background-image': 'url(/assets/images/partners.png)'}"></div>
    <div class="content valign-wrapper">
        <div class="left-align color-white inner-content ethos">
            <div class="row">
                <h2>Partners</h2>
                <div class="col s6 m3 partner-container" *ngFor="let partner of partners" (click)="partnerClick(partner.id)">
                    <div class="partner-inner">
                        <span [ngClass]="partner.logo"></span>
                        <span class="partner-name">{{ partner.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>
