<div class="full center-align" style="position: fixed; z-index:999999; background: #fff;width: 100%;height:100%;padding-top:20%;">
    <span class="icon-landscape" style="font-size: 10em;margin-top:auto;margin-bottom:auto;"></span>
    <h1 style="font-size: 2em;">Rotate your device</h1>
</div>
<div (swipe)="swipe($event)">
<navbar></navbar>
<router-outlet></router-outlet>
</div>
