<div class="wrapper">
    <div class="fullpage" [ngStyle]="{transform : translateValue, transition : transitionValue, width : fullPageWidth}">
        <div class="slide" *ngFor="let solution of solutionList" [ngStyle]="{width : slideWidth, 'background-color': solution.bg_color}" (swipe)="swipeSlide($event)">
            <div class="content valign-wrapper">
                <div class="left-align color-white inner-content ethos">
                    <div class="row">
                        <div class="col s12 m12 l5">
                            <h1 class="left-align people-title">{{ solutionType }}</h1>
                            <p innerHtml="{{ solution.description }}" class="solution-description"></p>
                            <a [routerLink]="solution.solution_id" class="more-btn white-bg">More</a>
                        </div>
                        <div class="col s12 m12 l5 offset-l2 center-align" style="padding-right:4em;margin-top: 30px;">
                            <div class="image-container" *ngIf="solutionType == 'web'">
                                <img [src]="'/admin/' + solution.image" style="max-width:100%;" class="solution-image">
                            </div>
                            <div class="image-container" *ngIf="solutionType == 'mobile'">
                                <img [src]="'/admin/' + solution.image" style="max-width:40%;margin-right: 10%;" class="solution-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-controls row">
    <div class="col s12 center-align">
        <button style="background:  #25A9E0;"[ngClass]="{'white-bg' : nav.pageTitle == 'Solutions', 'scroll-btn' : true}" (click)="scrollClick()"><span class="icon-scroll-down"></span></button>
    </div>
</div>

<div class="slider-controls">
    <div class="prev">
        <button (click)="prev()"><span class="material-icons" [ngStyle]="{ 'color': leftColor }">keyboard_arrow_left</span></button>
    </div>
    <div class="pages">
        <span class="pages">{{ index + 1 }} / {{ totalSolution }}</span>
    </div>
    <div class="next">
        <button (click)="next()"><span class="material-icons" [ngStyle]="{ 'color': rightColor }">keyboard_arrow_right</span></button>
    </div>
</div>
