<div class="wrapper valign-wrapper news-component">
    <div class="bg" [ngStyle]="{'background-image': 'url(/assets/images/news.jpg)'}"></div>
    <div class="content valign-wrapper">
        <div class="left-align color-white inner-content ethos">
            <div class="row">
                <div class="col s12 m12 l2">
                    <div class="date-holder">
                        <div class='year'>{{ year }}</div>
                        <div class="month">{{ month }}</div>
                    </div>
                </div>
                <div class="col s12 m12 l10">
                    <div class="news-container">
                        <div class="news-list-item" *ngFor="let content of news; let i=index">
                            <div class="col s12 m12" [ngClass]="{ hide : !visibility[i] , 'hide-on-med-and-down' : true}">
                                <div class="row" [ngStyle]="{'background-image': 'url(' + content.thumb + ')', 'margin-bottom': '0px', 'height':'250px', 'background-size': 'cover'}"></div>
                                <div class="title">
                                    {{ content.title }}
                                    <p class="truncate" [innerHtml]="content.content"></p>
                                    <a href="http://www.auspex.com.ph/news/article/{{ content.id }}">Read More</a>
                                </div>
                            </div>
                            <div class="col s12 m4" [ngClass]="{ hide : !mobileVisibility[i] , 'hide-on-large-only' : true}" (swipe)="swipe($event)">
                                <div class="row thumb-holder" [ngStyle]="{'background-image': 'url(' + content.thumb + ')', 'margin-bottom': '0px', 'height':'150px', 'background-size': 'cover'}"></div>
                                <div class="title">
                                    {{ content.title }}
                                    <p class="truncate" [innerHtml]="content.content"></p>
                                    <a href="http://www.auspex.com.ph/news/article/{{ content.id }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>
<div class="slider-controls hide-on-med-and-down">
    <div class="prev">
        <button (click)="prev()"><span class="material-icons" [ngStyle]="{ 'color': leftColor }">keyboard_arrow_left</span></button>
    </div>
    <div class="pages">
        <span class="pages hide-on-med-and-down">{{ desktopSelected }} / {{ desktopPages }}</span>
    </div>
    <div class="next">
        <button (click)="next()"><span class="material-icons" [ngStyle]="{ 'color': rightColor }">keyboard_arrow_right</span></button>
    </div>
</div>
<div class="slider-controls hide-on-large-only">
    <div class="prev">
        <button (click)="prevArt()"><span class="material-icons" [ngStyle]="{ 'color': leftColor }">keyboard_arrow_left</span></button>
    </div>
    <div class="pages">
        <span class="pages hide-on-large-only">{{ selectedSlide }} / {{ pageNumber }}</span>
    </div>
    <div class="next">
        <button (click)="nextArt()"><span class="material-icons" [ngStyle]="{ 'color': rightColor }">keyboard_arrow_right</span></button>
    </div>
</div>
