<div class="wrapper">
    <div class="header-controls">
        <div class="header-controls">
            <div class="row">
                <div class="col s1 m1 offset-s9 offset-m11 scroll-container">
                    <a routerLink="/home" class="scroll-btn"><span class="material-icons" style="font-size:1em;padding-top:5px;">clear</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="video-background">
        <div class="video-foreground">
            <iframe src="https://www.youtube.com/embed/GMcfe5jQzQg?autoplay=1;rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
