form.form-builder{
    .row{
        margin-bottom: 0px;
    }
    label{
        font-size:14px;
        font-weight: 400;
        color: #24B0D1 !important;
        text-align: left;
    }
    input, textarea, .editor-front{
        border: 1px solid #25A9E0 !important;
        padding:10px 15px !important;
        box-sizing: border-box !important;
        margin-top: 10px !important;
    }
    input{
        height: auto !important;

    }
    input:focus{
        border-bottom: 1px solid #25A9E0 !important;
        box-shadow: none !important;
    }
    textarea, .editor-front{
        width: 100% !important;
        resize: vertical;
        min-height:200px !important;
    }
    .date-container{
        .s4{
            padding: 0px !important;
        }
        .s4:nth-child(1){
            padding-left: 0.75rem !important;
        }
        .s4:nth-child(3){
            padding-right: 0.75rem !important;
        }
        select{
            display: block;
            background: #25A9E0;
            color: #fff;
            text-align: center;
        }
    }
    .uploader{
        margin-top: 20px;
        .col{
            padding: 0px;
        }
        .s12, .s8{
            padding-left: 0.75rem !important;
        }
        .s4{
            padding-right: 0.75rem !important;
        }
        .hidden{
            display: none !important;
        }
        button{
            padding: 10px 15px !important;
            width: 100%;
            box-sizing: border-box;
            margin-top: 10px;
            height: 40px;
            border: none;
            background: #25A9E0;
            color: #fff;
            font-size: 12px;
        }
    }
    .form-btn{
        margin-top: 50px;
        margin-bottom: 50px;
        display: inline-block;
        width:95%;
        border: none;
        background: #25A9E0;
        color: #fff;
        border-radius: 25px;
        line-height: 3em;
        box-sizing: border-box;
        font-size:12px;
    }
    [type="checkbox"]+label{
        line-height: 20px;
        color: #161616;
    }
    [type="checkbox"].filled-in:checked+label:after{
        background: #24B0D1;
        border-color: #24B0D1;
    }
    .form-edit-control{
        color: #25A9E0;
        font-size: 1em;
        padding:5px;
    }
    .form-edit-control.active{
        color:#fff;
        background: #25A9E0;
    }
    .pos-relative{
        position: relative;
    }
    .editor{
        display: none;
    }
    .editor-front{
        resize: vertical !important;
        overflow:auto;
    }
}
.card-alert{

    box-sizing: border-box;
    a{
        color: #fff;
    }
    margin-bottom: 30px;
}
.card-success{
    .card-content{
        background: #1B75BB;
        color: #fff;
        padding: 10px 15px;
    }
}
.card-error{
    .card-content{
        background:#F44336;
        color: #fff;
        padding: 10px 15px;
    }
}
.accordion{
    border-bottom: 1px solid #25A9E0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    .col{
        padding: 0px;
    }
    .acc-label{
        color: #25A9E0;
        font-size: 1.2em;
        line-height: 25px;
        i{
            font-size: 0.85em;
            float: right;
            line-height: 25px;
        }
    }
}
.solution-container{
    ul.graph-selector{
        width: 100%;
        height: 2.75em;
        background: #25A9E0;
        margin-top: 0px;
        li{
            display: inline-block;
            a{
                line-height: 2.75em;
                padding: 10px 20px;
                color: #fff;
            }
        }
        li:last-child{
            float: right;
            border-left: 1px solid #fff;
        }
    }
    .content-type{
        ul{
            li{
                span{
                    color: #25A9E0;
                }
            }
        }
        span.caret{
            color: #fff;
            font-size: 1em;
            z-index: 999;
            right: 10px;
        }
        input{
            background: #25A9E0;
            text-align: center;
            color: #fff;
            line-height: 2em;
            font-size: 1em;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }
    }

}
.variable-list{
    div[class^="var-list-item"]{
        padding-bottom: 10px;
        border-bottom: 1px solid #24B0d1;
        margin-bottom: 20px;
    }
    .var-head{
        margin-bottom: 20px !important;
        color: #25A9E0;
    }
    #stroke-range{
        border: none !important;
    }
}
