.nav-head{
    padding: 15px;
    span.icon-hero-logo{
        font-size: 3.65em;
    }
    div.right-align{
        color: #25A9e0;
    }
}
.main-nav{
    padding: 0px !important;
    position:absolute;
    top: 80px;
    padding-top: 20px !important;
    .row{
        margin: 0px;
    }
    .profile-info{
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(37,169,224,0.1);
        img{
            margin-bottom: 15px;
            border: 2px solid #25A9E0;
        }
    }
    .nav{
        padding: 20px;
        ul{
            li{
                line-height: 25px;
                font-weight: 500;
                ul{
                    display: none;
                    padding-left: 15px;
                    li{

                        a{
                            font-size: 0.85em;
                        }
                    }
                    li.active {
                        a{
                        color: #1B75BB;
                        }
                    }
                }
            }
            li.active{
                ul{
                    display: block;
                }
            }
        }
        a{
            @extend .blue-green;
        }


    }
    .blue-green{
        color: #24B0D1;
    }
}
.content-container{
    left: 16.666666% !important;
    padding: 0px !important;
    top: 80px;
    position:absolute;
    min-height: calc(100% - 80px) !important;
    border-left: 1px solid #25A9E0;
    .content-nav{
        height: 50px;
        line-height: 50px;
        background: #25A9E0;
        a{
            color: #fff;
        }
    }
    .content-inner{
        padding-top: 30px;
        padding-left: 50px;
    }
}
.horizontal-nav, .graph-selector{
    margin-top: 0px;
    li{
        float: left;
        line-height: 10px;
        margin-right: 20px;
        padding: 20px;
    }
    li.active{
        padding: 15px;
    }
    li.active {
    	position: relative;
    	background: #25A9E0;
    	border: 4px solid #25A9E0;
    }
    li.active:after, li.active:before {
    	top: 100%;
    	left: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }

    li.active:after {
    	border-color: rgba(37, 169, 224, 0);
    	border-top-color: #25A9E0;
    	border-width: 10px;
    	margin-left: -10px;
    }
    li.active:before {
    	border-color: rgba(37, 169, 224, 0);
    	border-top-color: #25A9E0;
    	border-width: 16px;
    	margin-left: -16px;
    }
}
.date-nav{
    li{
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 10px;
    }
    li.active{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.content-nav{
    .date-container{
        margin-top: 0px;
        font-size: 0.85em !important;
        color: #fff;
        border-bottom: none !important;
        border-left: 1px solid #FFF;
        padding-left: 0px;
        input.select-dropdown{
            border-bottom: none !important;
            font-size: 0.85em !important;
            padding-left: 30px;
            margin-bottom: 5px;
        }
        span.caret{
            color: #fff;
        }
        li{
            span{
                font-size: 1em !important;
            }
        }
    }
}
.graph-selector li{
    padding: 0px !important;
    a{
        line-height: 2em;
    }
}
.graph-selector li.active{
    a{
        line-height: 2em !important;
    }
}
