<div class="wrapper">
    <div class="bg" [ngStyle]="{'background-image': 'url(/assets/images/news.png)'}"></div>
    <div class="content">
        <div class="row" style="width: 100%;">
            <div class="col s12 m2">
                <div class="date-holder-article career-detail">
                    <div class='year'>Open</div>
                    <div class="month">For ({{ career.needed }}) {{ selectedCareerReqs }}</div>
                    <div class="day">People</div>
                </div>
            </div>
            <div class="col s12 m8">
                <div class="news-detail-container">
                    <div class="thumb">
                        <img [src]="career.thumb">
                    </div>
                    <div class="title">
                        <h2>{{ career.title }}</h2>
                        <div class="social-media">
                            <div class="action-group" [@slideInOut]="actionShow">
                                <button ngxClipboard [cbContent]="currentPage">
                                    <span class="icon-copy"></span>
                                </button>
                                <button shareButton="facebook">
                                    <span class="icon-facebook"></span>
                                </button>
                                <button shareButton="twitter">
                                    <span class="icon-twitter"></span>
                                </button>
                            </div>
                            <div class="toggler">
                                <button *ngIf="actionShow == 'in'" (click)="showActionGroup()" ><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                                <button *ngIf="actionShow == 'out'" (click)="hideActionGroup()"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="inner-content">
                        <p [innerHtml]="career.content"></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m2 side-controls">
                <div class="close-btn">
                    <div class="scroll-container">
                        <a routerLink="/careers" class="scroll-btn"><span class="icon-close"></span></a>
                    </div>
                </div>
                <div class="navigation-btn">
                    <div class="row">
                        <a [routerLink]="prevCareer" class="scroll-btn">Previous Opening</a>
                    </div>
                    <div class="row">
                        <a [routerLink]="nextCareer" class="scroll-btn">Next Opening</a>
                    </div>
                </div>
                <div class="home-btn">
                    <a routerLink="" class="scroll-btn"><span class="icon-auspex-home"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
