.brand-logo{
    width: 100%;
    padding: 10px;
    span.icon-hero-logo{
        font-size: 8em;
    }
    margin-bottom:50px;
}
.login-form{
    .row{

    }
    input{
        box-sizing: border-box !important;
        border: 1px solid #24B0D1 !important;
        padding-left: 10px !important;
        margin: 0px !important;
    }
    input:focus{
        border: 1px solid #24B0D1 !important;
        box-shadow: none !important;
    }
    [type="checkbox"]+label{
        line-height: 20px;
        color: #161616;
    }
    [type="checkbox"].filled-in:checked+label:after{
        background: #24B0D1;
        border-color: #24B0D1;
    }
    a{
        color: #161616;
    }
    button{
        width: 100%;
        border: none;
        background: #25A9E0;
        color: #fff;
        border-radius: 25px;
        line-height: 3em;
        box-sizing: border-box;
    }
}
.login{
    .errors{
        .row{
            margin:0px;
            p{
                margin: 0px;
            }
        }
    }
}
