<div class="wrapper">

    <div class="bg" [ngStyle]="{'background-image': 'url(/assets/images/news.png)'}"></div>
    <div class="content archive-container">
        <div class="left-align color-white inner-content ethos">
            <div class="row">
                <div class="col s12 m12 l2">
                    <div class="date-holder">
                        <div class='year-only'>2017</div>
                    </div>
                </div>
                <div class="col s12 m12 l10">
                    <div class="row">
                        <div class="col s4 m4 l2 archive-inner" *ngFor="let month of months;let i = index;">
                            <div [ngClass]="{'archive-content':true, active : newsPerMonth[i] > 0}" (click)="monthClick((i + 1), newsPerMonth[i])">
                                <h4>{{ month }}</h4>
                                <div class="row"><span class="count">{{ newsPerMonth[i] }}</span><span [ngClass]="{'icon-article-invert': newsPerMonth[i] == 0, 'icon-article' : newsPerMonth[i] > 0}"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>
