<div class="wrapper people" [@routerTransition]="">
    <div class="fullpage" [ngStyle]="{'width' : fullPageWidth,transform : translateValue, transition : transitionValue}">
        <div class="slide" [ngStyle]="{width : slideWidth}">
            <div class="bg" style="background-image:url('/assets/images/our-people.jpg');transform :scale(1)"></div>
            <div class="content valign-wrapper">
                <div class="left-align color-white inner-content ethos">
                    <div class="row">
                        <div class="col s12 m8">
                            <h1 class="left-align">Our Team</h1>
                            <p style="font-size: 1.75em;">
                                Our team are what gives life to our company. Each with a given expertise, we help carve out
                                one another’s role. Collaboratively, we are given opportunities to find fresh ways to solve
                                problems, to innovate and develop, and to help clients grow their business. We are not only
                                skilled individuals; we are also people of integrity. With competence and strong values, we are
                                committed to delivering excellent technological products and services.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" *ngFor="let person of emps" [ngStyle]="{width : slideWidth}" (swipe)="swipe($event)">
            <div class="bg" [ngStyle]="{'background-image': 'url('+ person.background +')', 'transform' : 'scale(1)', 'background-position-x' : '65%'}"></div>
            <div class="content valign-wrapper">
                <div class="left-align color-white inner-content ethos">
                    <div class="row">
                        <div class="col s12 m12 l8">
                            <h1 class="left-align people-title">Our Team</h1>
                            <h2 class="left-align person-name">{{ person.name }} / {{ person.position}}</h2>
                            <p innerHtml="{{ person.description }}" class="people-description"></p>
                            <a [routerLink]="person.id" class="more-btn">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>

<div class="slider-controls">
    <div class="pages" *ngIf="index == 0">
        <button (click)="next()" class="valign-wrapper"><span class="pages" style="font-size:1.75em;padding-top:0px;">Meet Us</span> <span class="material-icons" [ngStyle]="{ 'color': rightColor }">keyboard_arrow_right</span></button>
    </div>
    <div class="prev" *ngIf="index > 0">
        <button (click)="prev()"><span class="material-icons" [ngStyle]="{ 'color': leftColor }">keyboard_arrow_left</span></button>
    </div>
    <div class="pages" *ngIf="index > 0">
        <span class="pages">{{ index }} / {{ emps.length }}</span>
    </div>
    <div class="next" *ngIf="index > 0">
        <button (click)="next()"><span class="material-icons" [ngStyle]="{ 'color': rightColor }">keyboard_arrow_right</span></button>
    </div>
</div>
