.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.scroll-btn{
    font-size: 3em;
    border: 1px solid #fff;
    color:#fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    padding-top: 17px;
}
.scroll-btn:hover{
    background: #25A9E0 !important;
    opacity: 0.80;
    border-color: #25A9E0 !important;
}
