.news-container{
    .col{
        width: 29% !important;
        box-sizing: border-box;
        margin-right: 30px;
        padding: 0px;
        position: relative;
        img{
            max-width: 100%;
        }
    }
    .title{
        width: 100%;
        box-sizing: border-box;
        background: #fff;
        padding: 10px;
        position: absolute;
        bottom: -100px;
        font-weight: 600;
        color: #000;
    }
    .truncate{
        font-size: 0.85em;
    }
    a{
        font-size: 0.9em;

    }
}
.news-detail-container{
    overflow-y: scroll;
    height: 80%;
    background: #fff;
    display: inline-block;
    position: absolute;
    width: 66.667%;
    top: 20%;
    .title{
        background: #fff;
        color: #000;
        font-weight: bold;
        padding-left: 3em;
        h2{
            font-size: 2.5em;
            float: left;
        }
        .social-media{
            overflow: hidden;
            button{
                font-size: 2.5em;
                border: none;
                background: transparent;
            }
            float: right;
            padding-top: 1.5em;
            padding-right: 3em;
            div{
                float: left;
            }
            .toggler{
                padding-top: 2px;
                button{
                    font-size: 2em;
                    color: #24B0D1;
                }
            }
        }
    }
    .thumb{
        width: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }
    .inner-content{
        font-size: 1em;
        padding-right: 3em;
        text-align: justify;
    }
}
.date-holder{
    .year{
        font-size: 5em;
        font-weight: 100;
        line-height: 1em;

    }
    .month, .day{
        font-size: 3em;
        font-weight: 100;
        line-height: 1em;
    }
}
.date-holder-article{
    color:#fff;
    margin-top: 60%;
    .year{
        font-size:5em;
        font-weight: 200;
        line-height: 1em;
    }
    .month, .day{
        font-size:2em;
        font-weight:100;
        line-height:1em;
    }
}
.side-controls{
    position: relative;
    padding-top: 20px;
    text-align: right;
    .close-btn{
        margin-top: 20px;
    }
    .navigation-btn{
        margin-top: 80%;
        .scroll-btn{
            font-size: 1em;
            text-align: center;
            font-weight: 100;
            padding-top: 30px;
        }
        .scroll-btn:hover{
            color: #24B0D1;
            border-color: #24B0D1;
            background-color: transparent !important;
        }
    }
    .home-btn{
        margin-top: 40%;
    }
}
.year-only{
    font-size: 1.75em;
}
.archive-container{
    margin-top: 100px;
}
.archive-inner{
    width: 100%;

    height: 170px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    .archive-content{
        background: #fff;
        width: 100%;
        height: 100%;
        padding-top: 15%;
        border-radius: 5px;
        color: #929497;
        -webkit-box-shadow: -7px 10px 16px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: -7px 10px 16px 0px rgba(0,0,0,0.5);
        box-shadow: -7px 10px 16px 0px rgba(0,0,0,0.5);
        cursor: pointer;
        h4{
            font-size: 1.25em;
            font-weight: 500;
        }
        .icon-article, .icon-article-invert{
            font-size: 3em;
            margin-left: 10px;
        }
        .count{
            font-size: 2.5em;
            vertical-align: top;
            line-height: 45px;
        }
    }
    .active{
        color: #24B0D1;
    }
}
.chart-container{
    chart{
        padding: 5%;
    }
}
