
.header-controls-people{
    padding-left: 4em;
    .dot-holder{
        padding-top: 30px;
        .dots{
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #25A9E0;
            margin-right: 20px;
            border: none;
        }
        .active{
            background-color:#fff;
        }
    }
}
