<div class="wrapper news-detail-component">
    <div class="bg" [ngStyle]="{'background-image': 'url(/assets/images/news.jpg)'}"></div>
    <div class="col s12 m2 top-controls hide-on-large-only">
        <a routerLink="" class="scroll-btn"><span class="icon-auspex-home"></span></a>
        <a [routerLink]="['/news', prevNews]" class="scroll-btn nav-control-btn">Previous Article</a>
        <a [routerLink]="['/news', nextNews]" class="scroll-btn nav-control-btn">Next Article</a>
        <a routerLink="/news" class="scroll-btn"><span class="material-icons" style="padding-top:5px;font-size:1em;">clear</span></a>
    </div>
    <div class="content">
        <div class="row" style="width: 100%;">
            <div class="col s12 m12 l2 hide-on-med-and-down">
                <div class="date-holder-article">
                    <div class='year'>{{ news.year }}</div>
                    <div class="month">{{ news.month }}</div>
                    <div class="day">{{ news.day }}</div>
                </div>
            </div>
            <div class="col s12 m12 l8">
                <div class="news-detail-container">
                    <div class="thumb">
                        <img [src]="news.thumb">
                    </div>
                    <div class="title">
                        <h2>{{ news.title }}</h2>
                        <div class="social-media">
                            <div class="action-group" [@slideInOut]="actionShow">
                                <button ngxClipboard [cbContent]="currentPage">
                                    <span class="icon-copy"></span>
                                </button>
                                <button shareButton="facebook">
                                    <span class="icon-facebook"></span>
                                </button>
                                <button shareButton="twitter">
                                    <span class="icon-twitter"></span>
                                </button>
                            </div>
                            <div class="toggler">
                                <button *ngIf="actionShow == 'in'" (click)="showActionGroup()" ><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                                <button *ngIf="actionShow == 'out'" (click)="hideActionGroup()"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="inner-content">
                        <p [innerHtml]="news.content"></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l2 side-controls hide-on-med-and-down">
                <div class="close-btn">
                    <div class="scroll-container">
                        <a routerLink="/news" class="scroll-btn"><span class="material-icons" style="padding-top:5px;font-size:1em;">clear</span></a>
                    </div>
                </div>
                <div class="navigation-btn">
                    <div class="row">
                        <a [routerLink]="['/news', prevNews]" class="scroll-btn nav-control-btn">Previous Article</a>
                    </div>
                    <div class="row">
                        <a [routerLink]="['/news', nextNews]" class="scroll-btn nav-control-btn">Next Article</a>
                    </div>
                </div>
                <div class="home-btn">
                    <a routerLink="" class="scroll-btn"><span class="icon-auspex-home"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
