<div class="wrapper our-people">
    <div class="header-controls-people" style="position:absolute; top: 20px; left:0px;width: 100%;">
        <div class="row">
            <div class="col s4 m3 l3 dot-holder">
                <button *ngFor="let pageP of person.content" [ngClass]="{ active : pageP.page == selectedSlide, dots : true}" (click)="slideNum(pageP.page)"></button>
            </div>
            <div class="col s1 m1 offset-s5 offset-m5 offset-l8 scroll-container">
                    <a routerLink="/our-people" class="scroll-btn"><span class="material-icons" style="padding-top:5px;font-size:1em;">clear</span></a>
            </div>
        </div>
    </div>
    <div class="fullpage" [ngStyle]="{'width' : fullPageWidth,transform : translateValue, transition : transitionValue}">
        <div class="slide" *ngFor="let page of person.content" [ngStyle]="{width : slideWidth}" (swipe)="swipeSlide($event)">
            <div class="bg" [ngStyle]="{'background-image': 'url('+ page.background +')', 'transform' : 'scale(1)'}"></div>
            <div class="content valign-wrapper">
                <div class="left-align color-white inner-content ethos" style="font-size:8px;">
                    <div class="row">
                        <div class="col s12 m12 l6">
                            <h1 class="left-align person-name">{{ person.name }}</h1>
                            <h2>{{ page.title }}</h2>
                            <p innerHtml="{{ page.content }}" class="people-description"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-controls row" *ngIf="selectedSlide == pageNumber">
    <div class="col s12 center-align">
        <button class="back-to-top" (click)="backToTop()" style="margin-left:40%;">Back<br/>to top</button>
        <a [routerLink]="nextMemberLink" class="next-member" (click)="backToTop()" *ngIf="nextMemberId > 0">Next Member <span class="material-icons" [ngStyle]="{ 'color': rightColor }">keyboard_arrow_right</span></a>
        <a routerLink="/solutions/web" class="next-member" (click)="backToTop()" *ngIf="nextMemberId == 0">Go to Solutions<span class="material-icons" [ngStyle]="{ 'color': rightColor }">keyboard_arrow_right</span></a>
    </div>
</div>
