@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wromu1');
  src:  url('fonts/icomoon.eot?wromu1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wromu1') format('truetype'),
    url('fonts/icomoon.woff?wromu1') format('woff'),
    url('fonts/icomoon.svg?wromu1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-center-justified:before {
  content: "\e900";
  color: #25a9e0;
}
.icon-image-upload:before {
  content: "\e901";
  color: #25a9e0;
}
.icon-left-justified:before {
  content: "\e909";
  color: #25a9e0;
}
.icon-right-justified:before {
  content: "\e90a";
  color: #25a9e0;
}
.icon-block-justified:before {
  content: "\e90b";
  color: #25a9e0;
}
.icon-hero-logo .path1:before {
  content: "\e902";
  color: rgb(27, 117, 187);
}
.icon-hero-logo .path2:before {
  content: "\e903";
  margin-left: -3.888671875em;
  color: rgb(27, 117, 187);
}
.icon-hero-logo .path3:before {
  content: "\e904";
  margin-left: -3.888671875em;
  color: rgb(27, 117, 187);
}
.icon-hero-logo .path4:before {
  content: "\e905";
  margin-left: -3.888671875em;
  color: rgb(27, 117, 187);
}
.icon-hero-logo .path5:before {
  content: "\e906";
  margin-left: -3.888671875em;
  color: rgb(27, 117, 187);
}
.icon-hero-logo .path6:before {
  content: "\e907";
  margin-left: -3.888671875em;
  color: rgb(27, 117, 187);
}
.icon-hero-logo .path7:before {
  content: "\e908";
  margin-left: -3.888671875em;
  color: rgb(146, 148, 151);
}
.icon-hero-logo .path8:before {
  content: "\e913";
  margin-left: -3.888671875em;
  color: rgb(37, 169, 224);
}
.icon-hero-logo .path9:before {
  content: "\e914";
  margin-left: -3.888671875em;
  color: rgb(37, 169, 224);
}
.icon-hero-logo .path10:before {
  content: "\e915";
  margin-left: -3.888671875em;
  color: rgb(146, 148, 151);
}
.icon-hero-logo .path11:before {
  content: "\e916";
  margin-left: -3.888671875em;
  color: rgb(37, 169, 224);
}
.icon-hero-logo .path12:before {
  content: "\e917";
  margin-left: -3.888671875em;
  color: rgb(146, 148, 151);
}
.icon-bold:before {
  content: "\ea62";
  color: #25a9e0;
}
.icon-italic:before {
  content: "\ea64";
  color: #25a9e0;
}
