@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rs7z1a');
  src:  url('fonts/icomoon.eot?rs7z1a#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rs7z1a') format('truetype'),
    url('fonts/icomoon.woff?rs7z1a') format('woff'),
    url('fonts/icomoon.svg?rs7z1a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-article-invert:before {
  content: "\e921";
  color: #929497;
}
.icon-right:before {
  content: "\e901";
  color: #fff;
}
.icon-left:before {
  content: "\e90a";
  color: #fff;
}
.icon-scroll-down2:before {
  content: "\e919";
  color: #fff;
}
.icon-hero-logo .path1:before {
  content: "\e902";
  color: rgb(27, 117, 187);
}
.icon-hero-logo .path2:before {
  content: "\e903";
  margin-left: -3.888671875em;
  color: rgb(27, 117, 187);
}
.icon-hero-logo .path3:before {
  content: "\e904";
  margin-left: -3.888671875em;
  color: rgb(27, 117, 187);
}
.icon-hero-logo .path4:before {
  content: "\e905";
  margin-left: -3.888671875em;
  color: rgb(27, 117, 187);
}
.icon-hero-logo .path5:before {
  content: "\e906";
  margin-left: -3.888671875em;
  color: rgb(27, 117, 187);
}
.icon-hero-logo .path6:before {
  content: "\e907";
  margin-left: -3.888671875em;
  color: rgb(27, 117, 187);
}
.icon-hero-logo .path7:before {
  content: "\e908";
  margin-left: -3.888671875em;
  color: rgb(146, 148, 151);
}
.icon-hero-logo .path8:before {
  content: "\e913";
  margin-left: -3.888671875em;
  color: rgb(37, 169, 224);
}
.icon-hero-logo .path9:before {
  content: "\e914";
  margin-left: -3.888671875em;
  color: rgb(37, 169, 224);
}
.icon-hero-logo .path10:before {
  content: "\e915";
  margin-left: -3.888671875em;
  color: rgb(146, 148, 151);
}
.icon-hero-logo .path11:before {
  content: "\e916";
  margin-left: -3.888671875em;
  color: rgb(37, 169, 224);
}
.icon-hero-logo .path12:before {
  content: "\e917";
  margin-left: -3.888671875em;
  color: rgb(146, 148, 151);
}
.icon-hero-logo-invert2:before {
  content: "\e91b";
  color: #fff;
}
.icon-close:before {
  content: "\e900";
  color: #fff;
}
.icon-email:before {
  content: "\e90b";
  color: #24b0d1;
}
.icon-hero-logo-invert:before {
  content: "\e911";
  color: #fff;
}
.icon-hero-logo2 .path1:before {
  content: "\e90c";
  color: rgb(37, 169, 224);
}
.icon-hero-logo2 .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(37, 169, 224);
}
.icon-hero-logo2 .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(146, 148, 151);
}
.icon-hero-logo2 .path4:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(146, 148, 151);
}
.icon-hero-logo2 .path5:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(37, 169, 224);
}
.icon-hero-logo2 .path6:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(146, 148, 151);
}
.icon-landline:before {
  content: "\e909";
  color: #24b0d1;
}
.icon-nav:before {
  content: "\e918";
  color: #fff;
}
.icon-scroll-down:before {
  content: "\e90d";
}
.icon-address:before {
  content: "\e90e";
  color: #24b0d1;
}
.icon-instagram:before {
  content: "\e90f";
  color: #24b0d1;
}
.icon-article:before {
  content: "\e910";
  color: #24b0d1;
}
.icon-auspex-home:before {
  content: "\e91a";
  color: #fff;
}
.icon-cellphone:before {
  content: "\e912";
  color: #24b0d1;
}
.icon-copy:before {
  content: "\e92c";
  color: #24b0d1;
}
.icon-facebook:before {
  content: "\ea90";
  color: #24b0d1;
}
.icon-twitter:before {
  content: "\ea96";
  color: #24b0d1;
}
